/* MAIN PAGE STYLES */
body {
  font-family: Courier;
  color: white;
}

#icon {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  margin-left: 20px;
  align-items: center;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  height: 60px;
  width: 100%;
  background-color: #003576;
  color: gainsboro;
  text-align: left;
  padding: 0px 10px;
  align-items: center;
  display: flex;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.welcome_message {
  position: fixed;
  right: 0;
  top: 0;
  color: gainsboro;
  padding: 12px 30px 0px 0px;
  align-items: center;
  display: flex;
  font-size: 25px;
}

.navbar {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #0050b3;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  margin-top: 80px;
  margin-left: 15%;
  padding: 10px 10px;
  color: black;
}

.seat_red {
  width: 100%;
  max-width: 50px;
  height: auto;
  cursor: not-allowed;
}

.seat_yellow, .seat_orange, .seat_green {
  width: 100%;
  max-width: 50px;
  height: auto;
}

.seat_yellow:hover, .seat_orange:hover, .seat_green:hover {
  opacity: 0.5;
}

#space {
  width: 15%;
  max-width: 40px;
}

.seats_table {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
}

.stats {
  float: right;
  width: 49%;
  overflow: auto;
  clear: right;
}

.action_buttons {
  overflow: auto;
  right: 0;
  width: 100%;
  margin-top: 10%;
}

.nocookies {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: black;
}

#tab_stats {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2vw;
}

#tab_stats td, #tab_stats th {
  border: 1px solid #ccc;
}

/*---------------------------*/
/* FORMS STYLES */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: inherit;
}

button {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6vw;
  font-family: inherit;
}

button[type=submit] {
  background-color: #4caf50;
}

button[type=reset] {
  background-color: #d01626;
}

button[type=button] {
  background-color: #0050b3;
}

button[type=submit]:hover {
  background-color: #338fff;
}

button[type=submit]:disabled {
  background-color: gray;
}

button[type=reset]:hover {
  background-color: #b31626;
}

button[type=button]:hover {
  background-color: #0073ff;
}

fieldset {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* display error messages */
fieldset.error {
  border-radius: 5px;
  background-color: #ff9999;
  padding: 20px;
}

/* display success messages */
fieldset.success {
  border-radius: 5px;
  background-color: #bbff99;
  padding: 20px;
}

fieldset.statistics {
  border-radius: 5px;
  background-color: #338fff;
  padding: 10px;
}

legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/*---------------------------*/

#noscript{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: black;
}
