/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #c8c8c8c8;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Courier';
  color: #2a2a2a;
}

p, input, li, td {
  font-family: 'Courier';
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li, td {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  border-style: solid;
  border-color: red;
}

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
  border-style: solid;
}

nav {
  height: 50px;
  background-color: #8888aa;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="color"], input[type="date"], input[type="number"], input[type="email"], input[type="url"]{
  height: 20px;
  border-radius: 3px;
  border-style: ridge;
}


input[type="search"] {
  flex: 3;
}

input[type="submit"], input[type="reset"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #8888aa;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}
